*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Rosario';
}

/*id e classes*/
#erro{
    background-color: rgb(248, 152, 152);
    color: rgb(134, 3, 3);
    padding: 2px;
    border-radius: 8px;
    border: 1px solid rgb(134, 3, 3);
    width: 450px;
    margin: 0px auto 2px;
    display: block;
    text-align: center;
}

#sucesso{
    background-color: rgb(197, 238, 131);
    color: rgb(57, 112, 5);
    padding: 2px;
    border-radius: 8px;
    border: 1px solid rgb(57, 112, 5);
    width: 450px;
    margin: 0px auto 2px;
    display: block;
    text-align: center;
}

#main{
    display: flex;
}

button{
    padding: 5px;
    border: none;
    border-radius: 5px; 
}
#notesGeral{
    width: 750px ;
    margin: 0px auto;
    float: none;
    max-width: 1020px;
    padding: 15px;
    text-align: center;
    height: 100vh;
}

#notesGeral p {
    font-size: 25px;
    text-transform: capitalize;
}

table{
    font-family: "Didot";
    margin: 55px -55px 0px;
    padding: 15px;
    border-radius: 15px;
    width: 850px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

table tr td, table tr th{
    padding: 15px;

    text-transform: capitalize;
    text-align: center;
    border: none;
}
table tr th {
    border-bottom: 1px solid rgb(221, 221, 221);
}

table tr td a {
    color:#FFFFFF;
    background: linear-gradient(#9522b8, #9198e5);
    padding: 10px;
    border-radius: 15px;
}


.notes{
    text-align: left;
}

select{
    appearance: none;
    width: 150px;
    border: none;
    padding: 5px;
    border-radius: 5px;
    background-image: url("https://cdn-icons-png.flaticon.com/16/2985/2985150.png");
    background-repeat: no-repeat;
    background-position: right 5px center;
}

#cabecalho{
    margin: 15px 0 0;
    display: flex;
    justify-content: end;
    align-items: center;
}

#cabecalho a {
    color:#020202;
    opacity: 0.5;
    text-decoration: none;
}

#semReg{
    margin: 250px auto;
}

#semReg a{
    text-decoration: none;
    color: #020202;
    opacity: 0.5;
}
