<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@600;700&family=Poppins&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdn.es.gov.br/fonts/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/styleNav.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div>
            <h1><i class="fa fa-calendar-check-o"></i> Agenda</h1>
            <p>Host: </p>
            <p><%=user.nameUser%></p>
        </div>
        <nav>
            <a href="/agenda"> <i class="fa fa-plus"> Adicionar</i> </a>
            <a href="/logout"> <i class="fa fa-sign-out"></i> Sair</a>
        </nav>
    </header>
</body>
</html>

